name: CD

on:
  push:
    tags:
      - "v*"

jobs:
  deploy:
    strategy:
      matrix:
        os: [ubuntu-22.04, windows-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4


      - name: Setup Rye
        uses: eifinger/setup-rye@v4
        with:
          enable-cache: true

      - name: Sync dependencies (prod only)
        working-directory: ./savant_app/
        run: rye sync --no-lock --no-dev

      - name: build
        working-directory: ./savant_app/src/savant_app/
        run: |
          # Use your real entry point here
          rye add --dev pyinstaller
          rye run pyinstaller --onefile --windowed --name SAVANT main.py

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: SAVANT-${{ matrix.os }}
          path: ./savant_app/src/savant_app/dist/*

  release:
    needs: deploy
    permissions:
      contents: write
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/download-artifact@v4
        with:
          path: ./savant_app/src/savant_app/dist

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          files: ./savant_app/src/savant_app/dist/**/*
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
