name: CD

on:
  push:
    tags:
      - "v*"

jobs:
  deploy:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4


      - name: Setup Rye
        uses: eifinger/setup-rye@v4
        with:
          enable-cache: true

      - name: Sync dependencies (prod only)
        run: rye sync --no-lock --no-dev

      - name: Build
        run: |
          # Use your real entry point here
          rye run pyinstaller --onefile --windowed --name MyApp main.py

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: MyApp-${{ matrix.os }}
          path: dist/*

  release:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/download-artifact@v4
        with:
          path: ./builds

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          files: builds/**/*
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
